<div class="description">
  <h2 class="h2-responsive wow fadeInLeft" data-wow-delay="0.3s">
    <%= t('.resend_confirmation_instructions') %>?
  </h2>
  <hr class="hr-dark wow fadeInLeft" data-wow-delay="0.3s">
</div>


<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render 'shared/errors_messages' %>
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <div class="md-form ">
          <%= f.email_field :email, class: 'input-alternate z-depth-5 text-center z-depth-5',
                        autofocus: true,
                        style: "background-color: white; border-radius: 10px; width: 220px; height: 50px;",
                        placeholder: 'Email',
                        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-success btn-rounded waves-effect">
            <%= t('.resend_confirmation_instructions') %>
          </button>
        </div>
        <br/>
        <%= link_to t('common.back'), new_user_session_path %>   
      </div>
  </div>
<% end %>


