<%= form_for [:admin, railway_station] do |f| %>
    <%= render 'shared/errors_messages', resource: railway_station %>
    <div class="row">
      <div class="col-md-6">
      <%= f.label :title, 'Название' %>
      <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <br>

    <div class="actions">
      <%= f.submit "#{ railway_station.new_record? ? 'Создать' : 'Изменить' }",
                   class: "btn btn-default" %>
    </div>
<% end %>
