<h1 class="h1-responsive" data-wow-delay="0.3s"><%= t('.railway_stations') %></h1>
<hr class="hr-dark">

<div class="row">
  <div class="col-md-8">
    <table class="table" id="non-bordered-th">
      <thead>
        <tr>
          <th><%= t('admin.railway_stations.attributes.title') %></th>
          <th colspan="3" class="text-right"><%= t('common.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @railway_stations %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to t('common.add'), new_admin_railway_station_path %>
