<h1 class="h1-responsive" data-wow-delay="0.3s"><%= t('.railway_station') %></h1>
<hr class="hr-dark">

<p>
  <strong><%= t('admin.railway_stations.attributes.title') %>: </strong><%= @railway_station.title %>
</p>

<%= link_to t('common.edit'), edit_admin_railway_station_path(@railway_station) %> |
<%= link_to t('common.back'), admin_railway_stations_path %>
