<%= render 'shared/errors_messages' %>

<div class="description">
  <h2 class="h2-responsive wow fadeInLeft" data-wow-delay="0.3s"><%= t('.edit_account') %></h2>
  <hr class="hr-dark wow fadeInLeft" data-wow-delay="0.3s">
</div>

<div class="card z-depth-5" style="border-radius: 20px; opacity: 0.8">
  <h3 class="card-header  cyan darken-3 white-text"
      style="border-top-left-radius: 20px; border-top-right-radius: 20px">
    <p><%= current_user.full_name %>:</p>
  </h3>

  <div class="card-block">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <div class="col-md-6">
          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <%= f.email_field :email, class: "form-control", id: "form2" %>
            <label for="form2"> Email</label>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
        <% end %>

        <div class="col-md-6">
          <div class="md-form">
            <i class="fa  fa-eye-slash prefix"></i>
            <%= f.password_field :password, autocomplete: "off" %>
            <%= f.label :password %> <i><span class="text-muted">(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</span></i><br />
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form">
            <i class="fa  fa-eye-slash prefix invisible"></i>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <%= f.label :password_confirmation %><br />
          </div>
        </div>

        <div class="col-md-6">
          <div class="md-form">
            <i class="fa  fa-eye-slash prefix invisible"></i>
            <%= f.password_field :current_password, autocomplete: "off" %>
            <%= f.label :current_password %> <br />
          </div>
        </div>

        <br />

        <div class="actions">
          <button type="submit" class="btn btn-outline-default btn-rounded"><%= t('.update') %></button>
        </div>

    <% end %>
    <hr>

    <h3 class="text-muted"><%= t('.cancel_my_account') %></h3>

    <p><%= t('.unhappy') %>? <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>

<br />

<%= link_to  t('devise.shared.links.back'), :back %>