<%= form_for [:admin, route] do |f| %>
    <%= render 'shared/errors_messages', resource: route %>

    <div class="row">
      <div class="col-md-6">
        <%= f.label :railway_stations, t('admin.routes.attributes.railway_stations') %>
        <%= f.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {},
                                {multiple: true, class: "mdb-select colorful-select dropdown-dark" } %>
      </div>
    </div>

    <br>

    <div class="actions">

      <button type="submit" class="btn btn-default">
        <%= t('.submit', action: @route.new_record? ? 'Создать' : 'Изменить') %>
      </button>
    </div>

<% end %>
