<%= form_for [:admin, route] do |f| %>
    <%= render 'shared/errors_messages', resource: route %>

    <div class="row">
      <div class="col-md-6">
        <%= f.label :railway_stations, t('admin.routes.attributes.railway_stations') %>
        <%= f.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {},
                                {multiple: true, class: "form-control" } %>
      </div>
    </div>

    <br>

    <div class="actions">
      <%= f.submit t('.submit', action: @route.new_record? ? 'Создать' : 'Изменить'),
                   class: "btn btn-default" %>
    </div>
<% end %>
