<h1 class="h1-responsive" data-wow-delay="0.3s"><%= t('.routes')%></h1>
<hr class="hr-dark">

<div class="row">
  <div class="col-md-6">
    <table class="table" id="non-bordered-th">
      <thead>
      <tr>
        <th><%= t('admin.routes.attributes.title')%></th>
        <th colspan="3" class="text-right"><%= t('common.actions')%></th>
      </tr>
      </thead>

      <tbody>
      <%= render @routes %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to t('common.add'), new_admin_route_path %>
