<p>
  <strong><%= t('admin.routes.attributes.title') %>: </strong><%= @route.title %>
</p>

<p>
  <strong><%= t('.trains_on_route')%>:</strong>
  <% if @route.trains.present? %>
      <% @route.trains.each do |train|  %>
        <ul>
          <li><%= train.number %></li>
        </ul>
    <% end %>
<% else %>
    <%= t('common.empty') %>
<% end %>
</p>

<p>
  <strong><%= t('.routes_railway_stations') %>: </strong>
  <% if @route.railway_stations.present? %>
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
            <th><%= t('admin.routes.attributes.title')%></th>
            <th colspan="2"><%= t('admin.routes.attributes.position')%></th>
            <th><%= t('admin.routes.attributes.arrival_time')%></th>
            <th><%= t('admin.routes.attributes.departure_time')%></th>
            <th></th>
          </thead>
          <tbody>
            <% @route.railway_stations.sorted.each do |station| %>
              <tr>
                <td><%= station.title %></td>
                <td>
                  <%= form_tag update_position_admin_railway_station_path(station),
                               method: :patch do %>
                      <%= number_field_tag :position, station.check_station_attr(@route, :position) %>
                      <%= hidden_field_tag :route_id, @route.id %></td>
                      <td><%= submit_tag t('common.update') %></td>
                  <% end %>
                  <%= form_tag update_time_admin_railway_station_path(station),
                               method: :patch do %>

                      <td><%= time_field_tag :arrival_time,
                                             station.check_station_attr(@route, :arrival_time) %></td>
                      <td><%= time_field_tag :departure_time,
                                             station.check_station_attr(@route, :departure_time) %></td>
                          <%= hidden_field_tag :route_id, @route.id %>
                      <td><%= submit_tag t('common.update') %></td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    Не назначены.
  <% end %>
</p>



<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
