<%= form_for(train) do |f| %>
    <%= render 'shared/errors_messages', resource: train %>

    <div class="field">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>

    <div class="actions">
      <%= f.submit "#{ train.new_record? ? 'Создать' : 'Изменить' }"%>
    </div>
<% end %>
