<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Текущая станция:</strong>
  <%= @train.current_station.title %>
</p>
<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present?  %>
    <%= @train.route.title %>
  <% else %>
    Не назначен
  <% end %>
</p>

<% if @train.carriages.present? %>
    <p>
      <strong>Вагонов: <%= @train.carriages.count %></strong>
      ( <% @train.carriages_count_by_type.each do |key, value| %>
        <%= Carriage.types[key.to_sym] %>: <%= value %>
      <% end %> )
    </p>

    <table class="table ">
      <thead>
        <th>Номер вагона</th>
        <th colspan="3" class="text-center">Тип вагона</th>
        <th colspan="3" class="text-center">Кол-во мест</th>
      </thead>
      <tbody>
        <% @train.sorted_carriages.each do |carriage| %>
          <tr>
            <td><%= link_to "#{carriage.number}", carriage_path(carriage) %></td>
            <td colspan="3" class="text-center"><%= Carriage.types[carriage.type.to_sym] %></td>
            <td colspan="3" class="text-center"><%= render "carriages/#{carriage.type.underscore}",
                                                           carriage: carriage %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="7"></td>
        </tr>
          <tr>
            <th colspan="2"></th>
            <th colspan="5" class="text-center">Мест по типу</th>
          </tr>
          <tr>
            <th colspan="2"></th>
            <th class="text-center">Верхние</th>
            <th class="text-center">Нижние</th>
            <th class="text-center">Верхние, сбоку</th>
            <th class="text-center">Нижние, сбоку</th>
            <th class="text-center">Сидячие</th>
          </tr>
          <tr>
            <td rowspan="4">Всего мест в поезде: </td>
            <% Carriage.types.each_key do |type| %>
              <td><%= Carriage.types[type] %></td>
              <% Carriage.seats.each_key do |seat_type| %>
                <td class="text-center"><%= @train.seats_count_by_type(type, seat_type) %></td>
              <% end %>
          </tr>
            <%end %>
      </tbody>
    </table>
<% end %>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
