<h1><%= t('.my_tickets') %></h1>

<% if @tickets.present? %>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th><%= t('activerecord.models.route')%></th>
        <th><%= t('tickets.attributes.departure_station') %></th>
        <th><%= t('tickets.attributes.arrival_station') %></th>
        <th colspan="2" class="text-right"><%= t('common.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @tickets %>
    </tbody>
  </table>

<% else %>
  <p><%= t('tickets.attributes.empty') %></p>
<% end %>


<p class="nav-inner">
  <%= link_to t('common.back'), root_path %>
</p>