<tr>
  <td><%= Carriage::TYPES[(carriage.type).to_sym] %></td>
  <td><%= carriage.top_seats %></td>
  <td><%= carriage.bottom_seats %></td>
  <td><%= link_to 'Show', carriage_path(carriage) %></td>
  <td><%= link_to 'Edit', edit_carriage_path(carriage) %></td>
  <td><%= link_to 'Destroy', carriage_path(carriage), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>