<p>
  <strong>Вагон:</strong>
  <%= @carriage.type %>
</p>

<p>
  <strong>Прикреплен к поезду: </strong>
  <% if @carriage.train.present? %>
      <%= @carriage.train.number %>
  <% else %>
    вагон не добавлен к поезду.
<% end %>
</p>

<p><strong>Места в вагоне:</strong></p>

<%= render "#{@carriage.type.underscore}", carriage: @carriage %>



<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>
