<%= form_for [:admin, ticket] do |f| %>
    <%= render 'shared/errors_messages', resource: ticket %>
    <%= f.hidden_field :train_id %>
    <%= f.hidden_field :start_station_id %>
    <%= f.hidden_field :last_station_id %>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :user, t('activerecord.models.user') %>
        <%= f.collection_select :user_id, User.all, :id, :email, {},
                                class: "mdb-select colorful-select dropdown-dark" %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :passenger_name %>
        <%= f.text_field :passenger_name, class: "md-form" %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :passport_number %>
        <%= f.text_field :passport_number, placeholder: 'XXXX XXXXXX', class: "md-form" %>
      </div>
    </div>

    <br>
    <button type="submit" class="btn btn-default">
      <%= t('.submit', action: ticket.new_record? ? 'Создать' : 'Изменить') %>
    </button>
<% end %>
