<h1 class="h1-responsive" data-wow-delay="0.3s"><%= t('.tickets')%></h1>
<hr class="hr-dark">

<table class="table text-center" id="non-bordered-th">
  <thead class="">
    <tr>
      <th class="text-center"><%= t('admin.tickets.attributes.client_name') %></th>
      <th class="text-center"><%= t('admin.tickets.attributes.train_number') %></th>
      <th class="text-center"><%= t('admin.tickets.attributes.route') %></th>
      <th class="text-center"><%= t('admin.tickets.attributes.departure_station') %></th>
      <th class="text-center"><%= t('admin.tickets.attributes.arrival_station') %></th>
      <th colspan="2" class="text-right"><%= t('common.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br/>
<%= link_to t('common.add'), search_path %>