<h1>Билет</h1>

<div class="">
  <h4>Детали заказа</h4>
  <p><span class="text-muted">Имя клиента:</span> <%= @ticket.user.full_name %></p>
  <p>
    <span class="text-muted">Дата и время покупки билета:</span>
    <%= @ticket.created_at.strftime '%d.%m.%Y, %H:%M' %>
  </p>
  <h4>Сведения о пассажире:</h4>
  <p>
    <span class="text-muted">Имя пассажира:</span>
    <%= @ticket.passenger_name %>
  </p>
  <p><span class="text-muted">Номер паспорта: </span><%= @ticket.passport_number %></p>
  <br/>
  <table class="table">
    <thead>
    <th>Поезд</th>
    <th>Маршрут</th>
    <th>Отправление</th>
    <th>Прибытие</th>
    </thead>
    <tbody>
    <td><%= @ticket.train.number %></td>
    <td><%= @ticket.train.route.title %></td>
    <td>
      <%= @ticket.start_station.title %><br/>
      <%= @ticket.start_station.check_station_attr(@ticket.train.route, :departure_time) %>
    </td>
    <td>
      <%= @ticket.last_station.title %><br/>
      <%= @ticket.last_station.check_station_attr(@ticket.train.route, :arrival_time) %>
    </td>
    </tbody>
  </table>
</div>

<%= link_to 'Back', admin_tickets_path %>