<h1 class="h1-responsive" data-wow-delay="0.3s"><%= t('activerecord.models.ticket') %></h1>
<hr class="hr-dark">

<div class="card">
  <div class="card-block">
    <h4><%= t('tickets.show.client_details')%></h4>
    <hr class="hr-dark"><%= t('tickets.show.client_name') %>:</span> <%= @ticket.user.full_name %></p>
    <p>
      <span class="text-muted"><%= t('tickets.show.ticket_created_at') %>:</span>
      <%= @ticket.created_at.strftime '%d.%m.%Y, %H:%M' %>
    </p>
    <br/>
    <h4><%= t('tickets.show.passenger_details') %></h4>
    <p>
      <span class="text-muted"><%= t('tickets.show.passenger_name') %>:</span>
      <%= @ticket.passenger_name %>
    </p>
    <p><span class="text-muted"><%= t('tickets.show.passport_number') %>: </span><%= @ticket.passport_number %></p>
    <br/>
    <table class="table text-center" id="non-bordered-th">
      <thead>
      <th class="text-center"><%= t('activerecord.models.train') %></th>
      <th class="text-center"><%= t('activerecord.models.route') %></th>
      <th class="text-center"><%= t('tickets.attributes.departure_station') %></th>
      <th class="text-center"><%= t('tickets.attributes.arrival_station') %></th>
      </thead>
      <tbody>
      <td><%= @ticket.train.number %></td>
      <td><%= @ticket.train.route.title %></td>
      <td>
        <%= @ticket.start_station.title %><br/>
        <%= @ticket.start_station.check_station_attr(@ticket.train.route, :departure_time) %>
      </td>
      <td>
        <%= @ticket.last_station.title %><br/>
        <%= @ticket.last_station.check_station_attr(@ticket.train.route, :arrival_time) %>
      </td>
      </tbody>
    </table>
  </div>
</div>

<br/>
<%= link_to t('common.back'), admin_tickets_path %>