<p><%= t('admin.carriages.attributes.bottom_seats') %>: <%= carriage.bottom_seats  %></p>
<p><%= t('admin.carriages.attributes.top_seats') %>: <%= carriage.top_seats  %></p>
<p><%= t('admin.carriages.attributes.side_bottom_seats') %>:  <%= carriage.side_bottom_seats  %></p>
<p><%= t('admin.carriages.attributes.side_top_seats') %>: <%= carriage.side_top_seats  %></p>
