<div class="description">
  <h2 class="h2-responsive wow fadeInLeft" data-wow-delay="0.3s"><%= t('search.show.tickets_search')%></h2>
  <hr class="hr-dark wow fadeInLeft" data-wow-delay="0.3s">
</div>

<%= form_tag search_path, role: 'form', remote: true  do %>
    <div class="card z-depth-5" id="transparent">
      <div class="card-block">
        <div class="row">
          <div class="col-md-4">
            <h5 class="text-white"><%=  t('search.attributes.from') %>:</h5>
            <%= select_tag :departure_station,
                           options_from_collection_for_select(RailwayStation.all, :id, :title),
                           class: "mdb-select colorful-select dropdown-success" %>
          </div>
          <div class="col-md-4">
            <h5 class="text-white"><%= t('search.attributes.to') %>:</h5>
            <%= select_tag :arrival_station,
                             options_from_collection_for_select(RailwayStation.all, :id, :title),
                             class: "mdb-select colorful-select dropdown-success" %>
          </div>
          <div class="col-md-4 text-center center-on-small-only ">
            <br/>
            <button type="submit" class="btn btn-success btn-rounded btn-large waves-effect" style="width: 170px">
              <%= t('search.show.submit') %>
            </button>
           </div>
        </div>
      </div>
    </div>

<% end %>
<div id="search_result">
  <%=render 'result' %>
</div>


<script>
  $(document).ready(function() {
    $('.mdb-select').material_select();
  });
</script>

