<p>
  <strong>Название:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Станции в маршруте: </strong>
</p>
<p>
  <% if @route.railway_stations %>
      <% @route.railway_stations.each do |station| %>
        <ul>
          <li><%= station.title %></li>
        </ul>
      <% end %>
  <% else %>
    Не назначены.
  <% end %>
</p>
<p>
  <strong>Поезда на маршруте:</strong>
  <% if @route.trains %>
    <% @route.trains.each do |train|  %>
      <ul>
        <li><%= train.number %></li>
      </ul>
    <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
