<% hidden = false unless local_assigns[:hidden] %>

<%= form_for [:admin, train], html: { style: "display: #{ hidden ? 'none' : 'block' }" } do |f| %>
  <%= render 'shared/errors_messages', resource: train %>
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-md-3">
          <%= f.label :number, class: "text-muted" %>:
          <%= f.text_field :number, class: "input-alternate" %>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <%= f.label :current_station, class: "text-muted" %>
          <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title, {},
                                  class: "mdb-select colorful-select dropdown-dark" %>
        </div>
        <div class="col-md-6">
          <%= f.label :route, class: "text-muted" %>
          <%= f.collection_select :route_id, Route.all, :id, :title, {},
                                  class: "mdb-select colorful-select dropdown-dark" %>
        </div>
      </div>
      <br />

      <%= t('.order_from_end') %>:
      <div class="switch">
        <label>
          <%= t('.from_head') %>
          <%= f.check_box :order_from_end %>
          <span class="lever"></span>
          <%= t('.from_end') %>
        </label>
      </div>
      <br/>
      <div class="actions">
        <button type="submit" class="btn btn-default">
          <%= t('.submit', action: train.new_record? ? 'Создать' : 'Изменить') %>
        </button>
      </div>
    </div>
  </div>
<% end %>
