<p>
  <strong><%= t('admin.trains.attributes.number') %>:</strong>
  <%= @train.number %>
</p>
<p>
  <strong><%= t('admin.trains.attributes.current_station')%></strong>
  <%= @train.current_station.title %>
</p>
<p>
  <strong><%= t('admin.trains.attributes.route')%>:</strong>
  <% if @train.route.present?  %>
    <%= @train.route.title %>
  <% else %>
    Не назначен
  <% end %>
</p>

<%= link_to t('.add_carriage'), new_admin_train_carriage_path(@train), class: 'btn btn-default btn-sm' %>
<br/>
<% if @train.carriages.present? %>
  <table class="table ">
    <thead>
      <th><%= t('.carriage_number') %></th>
      <th colspan="3" class="text-center"><%= t('admin.carriages.attributes.carriage_type') %></th>
      <th colspan="2" class="text-center"><%= t('admin.carriages.attributes.seats_qty') %></th>
      <th class="text-right"><%= t('common.actions') %></th>
    </thead>
    <tbody>
      <% @train.sorted_carriages.each do |carriage| %>
        <tr>
          <td><%= link_to "#{carriage.number}", admin_train_carriage_path(@train, carriage) %></td>
          <td colspan="3" class="text-center"><%= Carriage.types[carriage.type.to_sym] %></td>
          <td colspan="2" class="text-center"><%= render "admin/carriages/#{carriage.type.underscore}",
                                                         carriage: carriage %></td>
          <%= render 'shared/actions', links: {
              show:   admin_train_carriage_path(@train, carriage),
              edit:   edit_admin_train_carriage_path(@train, carriage),
              delete: admin_train_carriage_path(@train, carriage)
          } %>
        </tr>
      <% end %>
      <tr>
        <td colspan="7"></td>
      </tr>
        <tr>
          <th colspan="2"></th>
          <th colspan="5" class="text-center"><%= t('admin.carriages.attributes.seats_by_type') %></th>
        </tr>
        <tr>
          <th colspan="2"></th>
          <th class="text-center"><%= t('admin.carriages.attributes.top_seats') %></th>
          <th class="text-center"><%= t('admin.carriages.attributes.bottom_seats') %></th>
          <th class="text-center"><%= t('admin.carriages.attributes.side_top_seats')%></th>
          <th class="text-center"><%= t('admin.carriages.attributes.side_bottom_seats') %></th>
          <th class="text-center"><%= t('admin.carriages.attributes.seats') %></th>
        </tr>
        <tr>
          <td rowspan="4">Всего мест в поезде: </td>
          <% Carriage.types.each_key do |type| %>
            <td><%= Carriage.types[type] %></td>
            <% Carriage.seats.each_key do |seat_type| %>
              <td class="text-center"><%= @train.seats_count_by_type(type, seat_type) %></td>
            <% end %>
        </tr>
          <%end %>
    </tbody>
  </table>
<% end %>

<br/>
<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
